@model Autobarn.Data.Entities.Manufacturer

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<h4>Currently listed for sale:</h4>
<ul>
    @foreach (var vehicleModel in Model.Models.Where(m => m.Vehicles.Count > 0)) {
        <li>
            @vehicleModel.Name
            <a href="@Url.Action("Vehicles", "Models", new { id = vehicleModel.Code })">view @vehicleModel.Vehicles.Count vehicles</a>
        </li>
    }
</ul>
<h4>Other models:</h4>
<ul>
    @foreach (var vehicleModel in Model.Models.Where(m => m.Vehicles.Count == 0)) {
        <li>
            <a href="@Url.Action("Vehicles", "Models", new { id = vehicleModel.Code })">@vehicleModel.Name</a>
        </li>
    }
</ul>
